* {
  box-sizing: border-box;
}

html {
  --base-color: #fff;
  --dark-color: #2a3443;
  --shade-color: #5e6673;
  --success-color: #f0f8f1;
  --warning-color: #fbeeec;
  --light-background: #f4f5f7;
  --yellow: #f7df1e;
  --spacing: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  font-size: 18px;
  line-height: 1.5rem;
  border: 10px solid var(--yellow);
  min-height: 100vh;
}

[hidden] {
  display: none;
}

a {
  color: var(--dark-color);
}

a:visited,
a:active {
  color: var(--shade-color);
}

header,
main,
nav {
  padding: var(--spacing);
}

header {
  font-size: 32px;
  line-height: 4rem;
}

header h1 {
  margin-bottom: 0;
}

.js-logo {
  display: inline-block;
  background-color: var(--yellow);
  height: 82px;
  width: 82px;
  position: relative;
  line-height: 1.5rem;
}

.js-logo::after {
  display: block;
  position: absolute;
  content: 'JS';
  color: var(--dark-color);
  bottom: 7px;
  right: 7px;
  font-size: 32px;
}